# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

stages:
- stage: StageA
  jobs:
  - job: JobA1
    pool:
      vmImage: ubuntu-latest

    steps:
    - script: echo Hello, world!
      displayName: 'Run a one-line script'
  - job: JobA2
    pool:
      vmImage: ubuntu-latest

    steps:
    - script: echo Hello, world!
      displayName: 'Run a one-line script'

- stage: StageB
  jobs:
  - job: JobB1
    pool:
      vmImage: ubuntu-latest
    condition: eq(true, false)

    steps:
    - script: echo Hello, world!
      displayName: 'Run a one-line script'
  - job: JobB2
    pool:
      vmImage: ubuntu-latest

    steps:
    - script: echo Hello, world!
      displayName: 'Run a one-line script'
